<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-manager">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      auto
      url="http://localhost:8080/api/blog"
      handle-as="json"
      last-response="{{laData}}"
      loading="{{cargando}}">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataManager extends Polymer.Element {
      static get is() { return 'data-manager'; }
      static get properties() {
        return {
          laData: {
            type: Object,
            value: () => {
              return {}
            },
            observer: '_success'
          },
          cargando: {
            type: Boolean
          }
        };
      }
      _success(e){
        this.dispatchEvent(
          new CustomEvent('data-service',{
            detail:this.laData
          })
        )
      }
    }

    window.customElements.define(DataManager.is, DataManager);
  </script>
</dom-module>
