<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../static/delete-style.html">
<dom-module id="delete-post">
  <template>
    <custom-style>
      <style include="delete-style"></style>
    </custom-style>
    <iron-ajax
      auto
      url="http://localhost:8080/api/blog/[[body.id]]"
      method="DELETE">
    </iron-ajax>
      <template is="dom-if" if="[[disable]]">
      <section class="question">
        <article class="delete">
          <h4>Deseas eliminar [[object.title]]</h4>
          <p>--[[object.author]]</p>
          <paper-button on-click="_deleteShit" onclick="location.reload(true)"><iron-icon icon="delete"></iron-icon> Delete [[object.keywords]]</paper-button>
          <slot></slot>
        </article>
      </section>
    </template>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DeletePost extends Polymer.Element {
      static get is() { return 'delete-post'; }
      static get properties() {
        return {
          object: Object,
          disable: {
            type: String,
            value: 'active'
          },
          body: Object
        };
      }

      _deleteShit(){
        this.body = this.object
      }

    }
    window.customElements.define(DeletePost.is, DeletePost);
  </script>
</dom-module>
