<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../static/new-user-style.html">
<dom-module id="new-user">
  <template>
    <custom-style>
      <style include="new-user-style"></style>
    </custom-style>
      <section class="new-user">
        <article>
          <form id="el-form">
            <paper-input label="Username:" id="user_name" placeholder="Title Here..." value="{{user_name}}"></paper-input>
            <paper-input label="Email:" id="email" placeholder="Author Here..." value="{{email}}"></paper-input>
            <paper-input label="Password:" id="password" placeholder="Keywords Here..." value="{{password}}"></paper-input>
            <fieldset class="button">
              <paper-button on-click="_formEvent" onclick="location.reload(true)">
                <iron-icon icon="send"></iron-icon> Add Post
              </paper-button>
              <slot></slot>
            </fieldset>
          </form>
        </article>
      </section>
  </template>



  <script>
    /**
     * @customElement
     * @polymer
     */
    class ElRegister extends Polymer.Element {
      static get is() { return 'new-user'; }
      static get properties() {
        return {
          data:Object,
          user_name: {
            type:String,
            value: ''
          },
          email: {
            type:String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          }
        };
      }

      _formEvent(){
        if (!user_name != '' && !email != '' && !password != '') {
          this.dispatchEvent(
            new CustomEvent('form-event',{
              detail: {
                user_name: this.user_name,
                email: this.email,
                password: this.password
              }
            })
          )
        } else {
          alert(`Introduzca todos los datos\nIntente nuevamente`)
          this.user_name = ''
          this.email = ''
          this.password = ''
        }
      }

    }


    window.customElements.define(ElRegister.is, ElRegister);
  </script>
</dom-module>
