<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../static/new-post-style.html">
<dom-module id="new-post">
  <template>
    <custom-style>
      <style include="new-post-style"></style>
    </custom-style>
      <section class="new-post">
        <article>
          <form id="el-form">
            <paper-input label="Title:" id="title" placeholder="Title Here..." value="{{title}}"></paper-input>
            <paper-input label="Author:" id="author" placeholder="Author Here..." value="{{author}}"></paper-input>
            <paper-input label="keywords:" id="keywords" placeholder="Keywords Here..." value="{{keywords}}"></paper-input>
            <paper-input label="Article:" id="article" placeholder="Your Text Here..." value="{{article}}"></paper-input>
            <fieldset class="button">
              <paper-button on-click="_formEvent" onclick="location.reload(true)">
                <iron-icon icon="send"></iron-icon> Add Post
              </paper-button>
              <slot></slot>
            </fieldset>
          </form>
        </article>
      </section>
      <iron-ajax
        auto
        url="http://localhost:8080/api/blog"
        method="POST"
        handle-as="json"
        content-type="application/json"
        body="{{body}}">
      </iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class NewPost extends Polymer.Element {
      static get is() { return 'new-post'; }
      static get properties() {
        return {
          posts: {
            type: Array,
            notify: true
          },
          createMode: Object,
          title: {
            type: String,
            notify: true
          },
          author: {
            type: String,
            value: 'Carlo Ponce'
          },
          keywords:{
            type:String,
            computed: '_setKeyWords(title)'
          },
          article: String,
          body:Object,

        };
      }
      _setKeyWords(str){
        return str.split(' ').splice(0,3).join('-').toLowerCase()
      }

      _formEvent(){
        if (this.title != '' && this.article != '') {
          const elObjeto = {
            title: this.title,
            author: this.author,
            keywords: this.keywords,
            article: this.article
          }
          this.set('body', elObjeto)
          // this.dispatchEvent(
          //   new CustomEvent('form-event',{
          //     detail: {
          //       title: this.title,
          //       author: this.author,
          //       keywords: this.keywords,
          //       article: this.article
          //     }
          //   })
          // )
        }
      }

    }


    window.customElements.define(NewPost.is, NewPost);
  </script>
</dom-module>
