<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../static/list-style.html">

<link rel="import" href="../elements/update-post.html">
<link rel="import" href="../elements/delete-post.html">

<dom-module id="post-list">
  <template>
    <custom-style>
      <style include="list-style"></style>
    </custom-style>
    <style>

    </style>
    <section class="up">
      <template is="dom-if" if="[[editEnable]]">
        <update-post object="[[editMode]]"><paper-button id="delete" on-click="_ocultarModalEdit"><iron-icon icon="cancel"></iron-icon> Cancelar</paper-button></update-post>
      </template>
      <template is="dom-if" if="[[deleteEnable]]">
        <delete-post object="[[deleteMode]]"><paper-button id="delete" on-click="_ocultarModalDelete"><iron-icon icon="cancel"></iron-icon> Cancelar</paper-button></delete-post>
      </template>
    </section>
    <template is="dom-if" if="[[listEnable]]">
      <section class="articles">
        <template is="dom-repeat" items="{{posts}}" as="post">
          <article class="article" data-index$="[[ index ]]" on-click="enableEditMode">
            <paper-icon-button class="delete" icon="close" on-click="enableDeleteMode"></paper-icon-button>
            <div class="article-content">
              <h3 class="article-detail-title">[[post.title]]</h3>
              <h5 class="article-detail-author">[[post.author]]</h5>
              <small class="article-detail-keywords">[[post.keywords]]</small>
              <p class="article-detail-content">[[truncate(post.article,4)]]...</p>
            </div>
          </article>
        </template>
      </section>
    </template>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class PostList extends Polymer.Element {
      static get is() { return 'post-list'; }
      static get properties() {
        return {
          posts: {
            type: Array,
            notify: true
          },
          editMode: {
            type: Object,
            notify: true
          },
          deleteMode: {
            type: Object,
            notify: true
          },
          listEnable:{
            type:Boolean,
            value:true
          },
          editEnable:{
            type:Boolean,
            value:false
          },
          deleteEnable:{
            type:Boolean,
            value:false
          }
        };
      }

      truncate(str, no_words) {
        return str.split(" ").splice(0,no_words).join(" ");
      }

      enableEditMode (event) {
        if (event.target.classList.contains('delete')) {
          return false;
        }
        const domEl = event.target.closest('.article')
        const obj = this.posts[domEl.dataset.index]
        this.set('editMode', obj)
        this.editEnable = true
        this.deleteEnable = false
        this.listEnable = true
        // console.log(this.editMode)
      }

      enableDeleteMode (event) {
        const domEl = event.target.closest('.article')
        const obj = this.posts[domEl.dataset.index]
        this.set('deleteMode', obj)
        this.editEnable = false
        this.deleteEnable = true
        this.listEnable = true
        // console.log(this.deleteMode)
      }
      _ocultarModalDelete(){
        this.deleteEnable = false
      }
      _ocultarModalEdit(){
        this.editEnable = false
      }
    }

    window.customElements.define(PostList.is, PostList);
  </script>
</dom-module>
