<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../static/update-style.html">
<dom-module id="update-post">
  <template>
    <style include="update-style"></style>
    <section class="question">
      <template is="dom-if" if="[[detailEnable]]">
        <article class="delete">
          <paper-input label="Title" value="[[object.title]]" disabled></paper-input>
          <paper-input label="Author" value="[[object.author]]" disabled></paper-input>
          <paper-input label="Keywords" value="[[object.keywords]]" disabled></paper-input>
          <paper-input label="Article" value="[[object.article]]" disabled></paper-input>
          <paper-button on-click="_enableEdit">Edit</paper-button>
          <slot></slot>
        </article>
      </template>
      <template is="dom-if" if="[[updateEnable]]">
        <article class="update">
          <paper-input label="Title" value="{{object.title}}"></paper-input>
          <paper-input label="Author" value="{{object.author}}"></paper-input>
          <paper-input label="Keywords" value="{{object.keywords}}"></paper-input>
          <paper-input label="Article" value="{{object.article}}"></paper-input>
          <paper-button on-click="_updatePost" onclick="location.reload(true)">Update</paper-button>
          <paper-button on-click="_cancelUpdate">Cancel</paper-button>
        </article>
        <iron-ajax
          auto
          url="http://localhost:8080/api/blog/[[body.id]]"
          method="PUT"
          handle-as="json"
          content-type="application/json"
          body="{{body}}">
        </iron-ajax>
      </template>
    </section>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UpdatePost extends Polymer.Element {
      static get is() { return 'update-post'; }
      static get properties() {
        return {
          object:Object,
          detailEnable:{
            type: Boolean,
            value: true
          },
          updateEnable:{
            type: Boolean,
            value: false
          },
          body: Object
        };
      }
      _enableEdit(){
        this.detailEnable = false
        this.updateEnable = true
      }
      _cancelUpdate(){
        this.detailEnable = true
        this.updateEnable = false
      }

      _updatePost(){
        this.set('body', this.object)
        // fetch(`http://localhost:8080/api/blog/${this.object.id}`,{
        //   method: 'PUT',
        //   headers: {
        //     'Content-Type': 'application/json;charset=UTF-8'
        //   },
        //   body: JSON.stringify(this.object)
        // })
        // .then(dato => console.log(this.object))
        // .catch(err => console.error(err))
      }
    }

    window.customElements.define(UpdatePost.is, UpdatePost);
  </script>
</dom-module>
