<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../utilities/data-manager.html">
<link rel="import" href="../elements/post-list.html">
<link rel="import" href="../elements/new-post.html">


<dom-module id="el-post-app">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button[id="show"],paper-button[id="superc"]{
        background-color: #d45a38;
        color:#eee;
      }
      nav{
        background-color:#222831;
        width:100%;
        margin:0;
        padding: 20px;
        position:fixed;
        top:0;
        left:0;
        z-index:1;
      }
      main{
        padding-top:80px;
      }
    </style>
    <header>
      <nav>
        <paper-button id="show" on-click="_showCreate">
          <iron-icon icon="note-add"></iron-icon> Nuevo
        </paper-button>
      </nav>
    </header>
    <main>
      <data-manager on-data-service="_getData"></data-manager>
      <template is="dom-if" if="[[createEnable]]">
        <new-post>
          <paper-button id="superc" on-click="_createHidden">
            <iron-icon icon="cancel"></iron-icon> Cancelar
          </paper-button>
        </new-post>
      </template>
      <post-list
        posts="{{posts}}">
      </post-list>
    </main>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ElPostApp extends Polymer.Element {
      static get is() { return 'el-post-app'; }
      static get properties() {
        return {
          posts: {
            type: Array
          },
          _newposts: {
            type: Object
          },
          createEnable:{
            type: Boolean,
            value: false
          },
          editMode: {
            type: Object,
            value: {
              enabled: false,
              loading: false
            }
          },
          deleteMode: Object
        };
      }

      _getData(e){
        const postis = e.detail
        this.set('posts', postis)
      }
      _showCreate(){
        this.createEnable = true
      }
      _createHidden(){
        this.createEnable = false
      }
    }

    window.customElements.define(ElPostApp.is, ElPostApp);
  </script>
</dom-module>
