<!-- shared styles for all views -->
<dom-module id="form-dialog--styles">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-dialog {
        width: 350px;
      }
      paper-dialog .header {
        color: #fff;
        background: var(--app-primary-color);
        font-family: var(--app-primary-font);
        font-size: 1.3em;
        margin-top: 0;
        padding: 20px;
      }
      paper-dialog .header > iron-icon {
        margin-right: .75em;
      }
      paper-textarea {
        outline: none;
      }
      paper-textarea, paper-input {
        --paper-input-container-input: {
          font-size: 15px;
          padding-bottom: 10px;
        };
        --paper-input-container-label: {
          padding-bottom: 20px;
          margin-top: 10px;
        }
      }
      .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 1em;
      }
      .buttons paper-button {
        margin-right: 0;
        margin-left: .5em;
        padding-left: 1em;
        padding-right: 1em;
      }
      .buttons paper-button.dialog-confirm {
        background-color: #4889c3;
        color: #fff;
      }
      .buttons paper-button.dialog-dismiss {
        background-color: #e0e0e0;
      }
      paper-button > paper-spinner-lite {
        --paper-spinner-stroke-width: 3px;
        --paper-spinner-color: var(--google-grey-100);
        width : 15px;
        height: 15px;
        margin-right: 10px;
        display: none;
      }
      paper-button > paper-spinner-lite[active] {
        display: block;
      }
    </style>
  </template>
</dom-module>
  