<dom-module id="list-style">
    <template>
        <custom-style>
            <style>
                *{
                    --dark-gray:#222831;
                    --gray:#393e46;
                    --orange:#d45a38;
                    --light-gray:#eee;
                    --wrapp:flex;
                    --spa-around:space-around;
                    --spa-between:space-between;
                    --twenty: 20px;
                    --thirty: 50px;
                    --ten: 10px;
                    --five: 5px;
                    --border-test: 1px solid #F00;
                }
                :host {
                    display: block;
                    justify-content: space-between;
                    width: 100%;
                    border: 1px solid var(--color-bg-contrast);

                }
                .articles{
                  display: var(--wrapp);
                  justify-content: var(--spa-around);
                  flex-wrap: wrap;
                  width: inherit;
                  flex-shrink:1;

                }
                .article{
                  flex-grow: 1;
                  min-width: 25%;
                  max-width: 100%;
                  background-color: var(--light-gray);
                  color: var(--orange);
                  margin: var(--twenty);
                  padding: var(--twenty);
                  border-radius: var(--thirty) var(--five);
                }
                .article:hover{
                    box-shadow: 0px 0px 20px 2px var(--gray);
                }
                .article-detail-title{
                    border-bottom:1px solid var(--gray);
                }
                .article-detail-author,
                .article-detail-keywords,
                .article-detail-content {
                    color:var(--gray);
                }
                .article-detail-author {
                    text-align:right;
                }
                .article-detail-keywords {
                    font-size: 10px;
                    text-transform: uppercase;
                    color: var(--gray);
                }
                paper-icon-button{
                    float: right;
                }
                update-post{
                  width:100%;
                }
                .up{
                  display:block;
                }
                #delete{
                  display:flex;
                  justify-content: center;
                  background-color: var(--orange);
                  color: var(--light-gray);
                }
                .delete{
                  float:right;
                }
            </style>
        </custom-style>
    </template>
</dom-module>
