<dom-module id="new-post-style">
    <template>
        <custom-style>
            <style>
                *{
                    --dark-gray:#222831;
                    --gray:#393e46;
                    --orange:#d45a38;
                    --light-gray:#eee;
                    --wrapp:flex;
                    --spa-around:space-around;
                    --spa-between:space-between;
                    --twenty: 20px;
                    --thirty: 50px;
                    --ten: 10px;
                    --five: 5px;
                    --border-test: 1px solid #F00;
                    --white: #fff;
                }
                :host {
                  display: flex;
                  justify-content: center;
                  align-items:center;
                  width: 100%;
                  height:150%;
                  position: fixed;
                  top:-30%;
                  left:0;
                  background-color: rgba(0, 0, 0, 0.77);
                  z-index:1;
                }
                .new-post{
                  display:flex;
                  justify-content: center;
                  width:100%;
                }
                article{
                  padding: 20px;
                  width: 50%;
                  border-radius: 20px;
                  display: block;
                  background-color: var(--light-gray);
                  justify-content: center;
                  align-items: center;
                  margin-top: var(--twenty);
                }
                paper-button{
                  background-color: var(--dark-gray);
                  color: var(--light-gray);
                }
                paper-input[label="keywords:"],paper-input[label="Author:"]{
                  display: none;
                }
                fieldset{
                  border:0;
                }
            </style>
        </custom-style>
    </template>
</dom-module>
